    <div class="row">
    <div class="container nsized"><div class="span12 indexheader"><center>О компании</center></div></div>
      <div class="container nsized" style="padding:10px 0;">
      <div class="row">
      <div class="span4">
      <img width=250 src="/static/some/slava.jpg" class="img-circle">
      <p style="padding-left:30px;">Вячеслав Рябченко, директор.</p>
      </div>
      <div class="span8">
      <p style="text-align:justify;">
      Компания "Прием" - мы улучшаем качество сотовой связи!
      <br>
      <br>
      
            Что делать, если «вне зоны доступа» - Ваш офис, предприятие, квартира или загородный дом? Вам не могут дозвониться, разговор прерывается или разрывается вовсе. Такая ситуация может грозить чем угодно: несостоявшимися встречами, не пришедшими клиентами, незаключенными договорами, не доставленными новостями, да и просто расшатанными нервами.
      <br>
      <br>

     Раньше с этим поделать действительно было ничего нельзя. Не окружишь же свой загородный дом вышками всех мобильных операторов и не построишь офисный центр только из картона. Однако теперь решение найдено. И в Нижнем Новгороде это решение можем предоставить для Вас мы.
     <br>
      <br>

     Мы предлагаем Вам разумное решение – установка локального репитера сотовой связи. Установка данного оборудования нашей компанией решит для Вас проблему с отсутствием мобильной связи максимально быстро и эффективно. Все оборудование и установка всего комплекса обойдутся не дороже установки кондиционера, но в отличие от него, работать будет круглый год, а может окупиться всего одним важным не пропущенным звонком.
      </p>
      </div>
      </div>
      </div>
    </div>
