{% load webdesign %}
    <div class="row">
      <div class="container nsized">
      <div class="row" style="margin-left:10px;margin-right: -10px;padding:20px 0 20px;background:#eee">
      <div class="span3" style="padding-left: 40px;">
      <center>
      <div class="indexheader">Подвал</div>
      </center>
      <p style="padding:0 10px;">
      {% lorem %}
      </p>
      <div class="btn">Подать заявку</div>
      </div>
      <div class="span3">
      <center>
      <div class="indexheader">Коттедж</div>
      </center>
      <p style="padding:0 10px;">
      {% lorem %}
      </p>
      <div class="btn">Подать заявку</div>
      </div>
      <div class="span3">
      <center>
      <div class="indexheader">
      Здание
      </div>
      </center>
      <p style="padding:0 10px;">
      {% lorem %}
      </p>
      <div class="btn">Подать заявку</div>
      </div>
      <div class="span3">
      <center>
      <div class="indexheader">
      Территория
      </div>
      </center>
      <p style="padding:0 10px;">
      {% lorem %}
      </p>
      <div class="btn">Подать заявку</div>
      </div>
      </div>
      </div>
    </div>
