<div class="row" style="margin: 15px 0 20px;">
  <div class="container">
    <div class="span4 troublesq">
      <div class="h">Проблемы со связью?</div>
      <ul>
        <li><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;Вне зоны доступа</li>
        <li><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;Обрывы связи</li>
        <li><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;Подвальное помещение</li>
        <li><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;Удаление от базовой станции</li>
        <li><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;Радиопомехи</li>
        <li><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;«Кваканье»</li>
      </ul>
    </div>
    <div class="span5 freeconsb">
      <div class="h">Закажите бесплатную консультацию</div>
      <form id="sendconsform" class="form-horizontal" style="color:#000;">
        <input type="hidden" name="csrfmiddlewaretoken" value="XCkKwV08ItM1mOGv24QCna4OVRMblzsj">
        <input type="hidden" name="leadform" value="sendconsform">
        <div class="control-group">
          <label class="control-label" for="inputnames">Ваше имя</label>
          <div class="controls">
          <input type="text" name="inputnames" placeholder="Как к Вам обратиться">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputemail">Эл. почта</label>
          <div class="controls">
          <input type="text" name="inputemail" placeholder="Email">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputphones">Телефон</label>
          <div class="controls">
          <input type="text" name="inputphones" placeholder="+7...">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
          <div onclick="sendreply('#sendconsform')" class="btn btn-brand-priem">Отправить заявку инженеру</div>
          </div>
        </div>
      </form>
    </div>
    <div class="span4 actionb">
      <div class="h">Внимание, акция!</div>
      <a href="http://gsmrepiter.ru/blog/article/32/"><img src="img/banner.jpg" alt=""></a>
    </div>
  </div>
</div>


<div class="row" style="background: rgb(240, 250, 255);border-top: 1px solid rgb(228, 240, 246);border-bottom: 1px solid rgb(228, 240, 246);">
  <div class="container servsteps">
    <div class="h">Услуга «установка усилителя сотового сигнала» включает в себя следующие этапы</div>
    <ul class="steps clearfix">
      <li>
        <div class="icon"><i class="fa fa-pencil"></i></div>
        <div class="txt">Проектирование</div>
        <i class="str fa fa-long-arrow-right"></i>
      </li>
      <li>
        <div class="icon"><i class="fa fa-wrench"></i></div>
        <div class="txt">Монтаж</div>
        <i class="str fa fa-long-arrow-right"></i>
      </li>
      <li>
        <div class="icon"><i class="fa fa-flag-checkered"></i></div>
        <div class="txt">Пусконаладка</div>
      </li>
    </ul>
  </div>
</div>

<div class="row" style="margin: 10px 0 24px;">
  <div class="container wewarrb">
    <div class="span7">
      <div class="h">Мы гарантируем своим клиентам</div>
      <ul>
        <li><i class="fa fa-check"></i>Оптимальный проект для вашего объекта</li>
        <li><i class="fa fa-check"></i>Цены от производителя</li>
        <li><i class="fa fa-check"></i>Установку только сертифицированного оборудования</li>
        <li><i class="fa fa-check"></i>Соблюдение сроков</li>
      </ul>
    </div>
    <div class="span6 dirc">
      <div class="h">Директор компании</div>
      <div class="title">Рябченко Вячеслав Алексеевич</div>
      <div class="dirq">
        <div class="image"><img src="img/dir.jpg" alt=""></div>
        <div class="q">Я начинал этот бизнес в 2006 году и на сегодняшний день сотрудничаю со многими крупными компаниями. Для меня главное — это качество работы моих сотрудников. Я лично заинтересован в том, чтобы удовлетворить потребности самых взыскательных клиентов.</div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin: 20px 0 40px;">
  <div class="container fclients">
    <div class="h">Довольные клиенты компании</div>
    <ul>
      <li><img src="img/clogo1.png" alt=""></li>
      <li><img src="img/clogo2.png" alt=""></li>
      <li><img src="img/clogo3.png" alt=""></li>
      <li><img src="img/clogo4.png" alt=""></li>
      <li><img src="img/clogo5.png" alt=""></li>
      <li><img src="img/clogo6.png" alt=""></li>
      <li><img src="img/clogo7.jpg" alt=""></li>
    </ul>
  </div>
</div>

<div style="margin: 20px 0 40px;">
  <div class="container offdocs">
    <div class="span6">
      <div class="h">Сертификат соответствия</div>
      <a class="doc" href="img/cert-quality.jpg" target="_blank"><img src="img/cert-quality-sm.jpg" width="180" alt=""></a>
    </div>
    <div class="span6">
      <div class="h">Сертификат дилера</div>
      <a class="doc" href="img/cert-dealer.pdf" target="_blank"><img src="img/cert-dealer-sm.jpg" width="180" alt=""></a>
    </div>
  </div>
</div>
