{% load webdesign %}
<div class="row">
      <div class="container nsized">
      <div class="row" style="margin-left:10px;margin-right: -10px;padding:20px 0 10px;">
            <div class="span6">
             <center class="howheader">
               {{ articles_about.all.0.title }}
               {% if request.user.is_superuser %}<br>
               <a href="/admin/blog/article/{{articles_about.all.0.id}}/">Редактировать</a>{% endif %}
             </center> 
             <p style="padding-top:20px">
              {{ articles_about.all.0.text|safe }}
             </p>
            </div>
            <div class="span6" style="padding-left:40px">
             <center  class="howheader">
               {{ articles_about.all.1.title }}
               {% if request.user.is_superuser %}<br>
               <a href="/admin/blog/article/{{articles_about.all.0.id}}/">Редактировать</a>{% endif %}
             </center>
             <p style="padding-top:20px">
               {{ articles_about.all.1.text|safe }}
             </p>
            </div>

      </div>
 </div>
</div>