{% load webdesign %}
<div class="row">
      <div class="container nsized">
      <div class="row" style="margin-left:10px;margin-right: -10px;padding:20px 0 10px;">
            <div class="span6">
             <center class="howheader">
               О компании
             </center> 
             <p style="padding-top:20px">
             {% lorem %}
             {% lorem %}
             </p>
            </div>
            <div class="span6" style="padding-left:40px">
             <center  class="howheader">
               О компании
             </center>
             <p style="padding-top:20px">
             {% lorem %}
             {% lorem %}
             </p>
            </div>

      </div>
 </div>
</div>