{% load mptt_tags %}
{% load i18n %}
  <div class="container">
    <div class="navbar navbar-fixed-top">
    <div class="navbar-inner blbck"  style="height:60px">
      <div class="nsized">
	      <a class="brand" style="text-shadow: rgb(255, 255, 255) 0px 1px 0px;font-size:16px;text-transform:uppercase;font-weight:normal;color:#000;font-family:FuturaPTDemi-Reg, sans-serif;" href="/">
	      <img style="height:40px;" src="{{STATIC_URL}}gsmrepiter/logo1.png">
	      </a>
	      <ul class="nav pull-right">
	      <!--
	      <li>
	      <div id="cart_nitems_a" class="btn btn-small btn-brand-skype" onclick='window.location.href="{% url 'commerce.views.cart' %}"'>
	      <span id="cart_nitems">
	      {% if cart.number_of_items.quantity__sum > 0 %} 
	      {{ cart.number_of_items.quantity__sum }}
	      {% else %} 
	      {% trans "Currently there no" %} 
	      {% endif %}
	      {% if cart.number_of_items.quantity__sum == 1 %} 
	      {% trans "item in" %}
	      {% else %}
	      {% trans "items in" %}
	      {% endif %}
	      </span>
	      {% trans "My cart" %}	      
	      </div>
	      </li>
	      -->
	      
	      <!--
	      {% if user.is_authenticated %}
	      <li><a href="#">{{ user }}</a></li>
	      <li><a href="{% url 'accounts.views.profile' %}">{% trans "Profile" %}</a></li>
	      <li><a href="{% url 'accounts.views.logout' %}">{% trans "Log out" %}</a></li>
	      {% if user.is_staff %}
	      <li><a href="/admin/">{% trans "Admin panel" %}</a></li>
	      {% endif %}
	      
	      {% else %}
	      <li><a class="navlia" href="{% url 'accounts.views.login' %}">{% trans "Sign in" %}</a></li>
	      <li><a href="{% url 'accounts.views.register' %}">{% trans "New customer" %}</a></li>
	      {% endif %}
	      -->
	      </ul>
      </div>

	         <ul class="nav nav-pills" style="margin-left:50px">
	         <!--
	            <li>
    	<form class="form-search" action="/psearch/" method=GET>
    	<input name="q" class="input-medium search-query" id="psearch" type="text" value="{{ searchstring }}">
    	<button type="submit" class="btn">{% trans "Search" %}</button>
    	</form>
	            </li>
	            -->
	          {% recursetree topmenu %}
	            {% if node.is_leaf_node %}
	            <li style="padding-top:10px;padding-bottom:10px">
	              <a class="dropdown-toggle" dropdown_node_id="{{node.id}}" href="{{node.url}}">{{ node.text }}</a>
	            </li>
	            {% else %}
	            <li style="padding-top:10px;padding-bottom:10px" class="dropdown{% ifequal forloop.counter 1 %} active{% endifequal %}">
	              <a slug="{{node.url}}" class="dropdown-toggle" dropdown_node_id="{{node.id}}" data-toggle="dropdown" href="/">
	                {{ node.text }}
	              </a>
	              <ul class="dropdown-menu" dropdown_node_id="{{node.id}}" id="dropdown_node_menu_{{node.id}}">
	              {% for ch in node.get_children.all %}
	              <li><a href="{{ch.url}}">{{ ch.text }}</a></li>
	              {% endfor %}
	              </ul>
	            </li>
	            {% endif %}
	          {% endrecursetree %}
	          </ul>
    </div>
    </div>
    </div>