{% load mptt_tags %}
{% load i18n %}
  <div class="container">
    <div class="navbar">
    <div class="navbar-inner blbck"  style="height:100px">
      <div class="nsized">
	      <a class="brand" style="text-shadow: rgb(255, 255, 255) 0px 1px 0px;font-size:16px;text-transform:uppercase;font-weight:normal;color:#000;font-family:FuturaPTDemi-Reg, sans-serif;" href="/">
	      <img src="{{STATIC_URL}}gsmrepiter/logo1.png">
	      </a>
	      <ul class="nav pull-right">
	      </ul>
      </div>

	         <ul class="nav nav-pills" style="margin-left:50px">
	         <!--
	            <li>
    	<form class="form-search" action="/psearch/" method=GET>
    	<input name="q" class="input-medium search-query" id="psearch" type="text" value="{{ searchstring }}">
    	<button type="submit" class="btn">{% trans "Search" %}</button>
    	</form>
	            </li>
	            -->
	          {% recursetree topmenu %}
	            {% if node.is_leaf_node %}
	            <li style="padding-top:10px;padding-bottom:10px">
	              <a class="dropdown-toggle" dropdown_node_id="{{node.id}}" href="{{node.url}}">{{ node.text }}</a>
	            </li>
	            {% else %}
	            <li style="padding-top:10px;padding-bottom:10px" class="dropdown{% ifequal forloop.counter 1 %} active{% endifequal %}">
	              <a slug="{{node.url}}" class="dropdown-toggle" dropdown_node_id="{{node.id}}" data-toggle="dropdown" href="/">
	                {{ node.text }}
	              </a>
	              <ul class="dropdown-menu" dropdown_node_id="{{node.id}}" id="dropdown_node_menu_{{node.id}}">
	              {% for ch in node.get_children.all %}
	              <li><a href="{{ch.url}}">{{ ch.text }}</a></li>
	              {% endfor %}
	              </ul>
	            </li>
	            {% endif %}
	          {% endrecursetree %}
	          </ul>
    </div>
    <div style="height:10px;width:1080px;margin:0 auto;background:#eee;"></div>
    </div>

    </div>