{% load mptt_tags %}
  <!--Products container-->
  <div class="container nsized" style="padding-bottom:0px;{% if index %}padding-top:10px;{% endif %}" >
    <div class="span12" style="padding-left:0;margin-left:0;padding-bottom:15px">
    <span class="internalheader">Оборудование</span> 
    {% recursetree categories %}
    {% if node.is_leaf_node %}
      {% if node.id = category.id %}
      <i style="margin-top:-1px" class="icon-chevron-right"></i> 
      <span style="top: -1px; position: relative;"> {{ node.name }} </span>
      {% endif %}
    {% endif %}
    {% endrecursetree %}
    </div>
    <div class="span12" style="padding-left:0;margin-left:0;padding-bottom:5px;">
    {% recursetree categories %}
      {% if node.is_leaf_node %}
        {% if node.id = category.id %}
        <span style="margin-right:10px;font-size:14px;color:#000;font-weight:bold;" href="/{{node.slug}}/">
        {{ node.name }}</span>
        {% else %}
        <a style="margin-right:10px;font-size:14px;color:#009933;text-decoration:underline;" href="/{{node.slug}}/">
        {{ node.name }}</a>
        {% endif %}
      {% endif %}
    {% endrecursetree %}
    </div>
    <div class="span12" style="margin-top:20px;width:1040px;margin-left:0;background:#eee;padding:20px 10px 20px 30px;">
    <span style="font-size:20px;font-weight:bold">Фильтр</span>
    <span id="hider" style="text-decoration:underline;cursor:pointer;margin-left:40px">скрыть фильтр</span>
    </div>
    <div id="filterproduct" class="span12" style="padding-top:0px">
	{% for c in catfilter.items.all %}
          <div class="span2">
	   <span style="font-size:14px;color:#000;">
	       {{ c.category.name }}
	   </span>
	   {%for ch in c.category.get_children.all %}
	   <div style="margin-top:5px;">
	   <label class="checkbox">
	     <input id="catcheck_{{ch.id}}" class="catchild" value="{{ch.id}}" type="checkbox"> {{ ch.name }}
	   </label>	   
           </div>
	   {% endfor %}
	  </div>
	{% endfor %}


    </div>
    <div id="filterprice" class="span12" style="width:1060px;padding-left:0;margin-left:0;background:#eee;padding:10px;">
     <div class="span4">
     <form class="form-inline">
       Цена
       <input id="price_from" type="text" class="input-small" placeholder="От">
       <input id="price_to" type="text" class="input-small" placeholder="До">
     </form>
     </div>
     <div class="span6">
     <form class="form-inline">
       Поиск. слово
       <input id="searchq" type="text" class="input" style="width: 300px;">
     </form>
     </div>
     <div class="span3">
       <div onclick="loadfilter()" class="btn btn-brand-priem">Применить фильтр</div>
     </div>
    </div>
    <!--
    <div class="span12" style="margin-top:40px;padding-left:0px;margin-left:0;">
	<div class="thumbnails" style="width:1080px;margin-left: -12px;">
	-->
	  {% for p in products %}
	  {% if not forloop.first %}
	  {% if forloop.counter0|divisibleby:"4" %}
	    </ul>
	  </div>
	  {% endif %}
	  {% endif %}
	  {% if forloop.counter0|divisibleby:"4" %}
          <div class="span12" style="margin-top:10px;padding-left:0px;margin-left:0;">
	    <ul class="thumbnails" style="width:1080px;margin-left: -12px;">
	    {% endif %}
	    <li class="span3 bcgwhite" style="width:250px;">
	    <div onclick="window.location.href='/product/{{p.id}}/'" href="#" class="thumbnail nopad noround cursored">
	      <img class="fullpctwidth" src="{{p.cover.get_s280x280_url}}" alt="">
	      <!--<div class="block-note block-note-green">
	      {{p.price}}{{p.currency.shortname}}
	      </div>-->
	      <div class="padbot10">
	        <div style="margin-top:10px;text-align:center;text-decoration:underline;font-size:14px;font-family:verdana;padding-top:3px;color:#333;">
	        {{ p.name }}
	        </div>
	        <!--
	        <div style="text-align:center;margin-top: 10px;">
	        {{p.description}}
	        </div>
	        -->
	        <div style="font-weight: bold;text-align:center;line-height:12px;font-size:16px;padding-top:10px;font-family:verdana;">
	        {{p.price}}{{p.currency.shortname}}
	        </div>
	        <div style="text-align:center;height:40px;">
	        <div style="margin-top:10px" class="btn btn-brand-priem" onclick="makeproductrequest()">
	        Заказать
	        </div>
	        </div>
	      </li>
	  {% endfor %}
<!--	</div>      
    </div>
    -->
    </div>
  <!--End of products container-->
