{% load i18n %}
  <!--Products container-->
    <div class="container">
    <div class="row" style="margin-left: 0px;border: 1px solid #eee;padding: 10px;">
    <div class="span4">
	<img style="height:300px" id="mainimage" src="{{product.cover.get_s340x340_url}}" alt="">
	<center style="margin-top:20px">
	{% for p in product.gallery.sample %}
	{% if forloop.first and forloop.last %}
	{% else %}
          <img class="productimg{% if p.id = product.cover.id %} activeproductimg{% else %} productimgborder{% endif %}" src="{{p.get_s340x340_url}}" alt="">
	{% endif %}
	
	{% endfor %}
	</center>
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Заказ товара</h3>
	  </div>
	  <div class="modal-body">
	  <div id="request_product_name"><h4>{{product.name}}</h4></div>
	  <form id="sendrequestform_product" class="form-horizontal" style="padding-top:10px">
	  {% csrf_token %}
          <input type="hidden" name="leadform" value="sendrequestform_product">
          <input type="hidden" name="product" value="{{product.name}}">
          

	  <div class="control-group">
	  <label class="control-label" for="quantity">Требуемое количество</label>
	    <div class="controls">
	      <input type="text" name="quantity">
	    </div>
	  </div>

	  <div class="control-group">
	  <label class="control-label" for="inputnames">Ваше имя и фамилия</label>
	    <div class="controls">
	      <input type="text" name="inputnames">
	    </div>
	  </div>


	  <div class="control-group">
	  <label class="control-label" for="inputphones">Контактный телефон</label>
	    <div class="controls">
	      <input type="text" name="inputphones">
	    </div>
	  </div>

	  <div class="control-group">
	  <label class="control-label" for="inputemail">Email</label>
	    <div class="controls">
	      <input type="text" name="inputemail">
	    </div>
	  </div>

	  <div class="control-group">
	    <div class="controls">
	      <div onclick="sendreply('#sendrequestform_product')"  class="btn btn-brand-priem">Отправить запрос</div>
	    </div>
	  </div>

	  </form>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
	  </div>
	</div>
    </div>
    <div class="span9">
    <h4>
    {{product.name}} <span style="color:#00bb3f"> {% if product.price %}{{product.price}} {{product.currency.shortname}}{% else %} Цена по запросу {% endif %}</span> 
    <div style="margin-top:0px;" class="btn btn-brand-priem pull-right" onclick="makeproductrequest()">
      Заказать
    </div>
    </h4>
    <!--
    <p>
    {% trans "Regular price" %}
    {{product.price}} {{product.currency.shortname}}
    </p>
    -->
    <!--
    <form class="form-inline">
    <input id="productid" type="hidden" value="{{product.id}}"></input>
    <label>{% trans "Choose quantity" %}</label>
    <select id="productquantity" style="margin-left:10px;font-size:11px;height: 18px;width:50px;">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    </select>
    </form>
    <div onclick="addproducttocart()" id="addtobagbtn" class="btn btn-brand-ebay">{% trans "Add to cart" %}</div>
    -->
    {% ifnotequal product.long_description '' %}
    <div class="smallheader" style="margin-top:20px;font-size:14px;">
    {% trans "Product details" %}
    </div>
    <p style="font-size:13px;">
    {{ product.long_description|safe }}
    </p>
    {% endifnotequal %}
    {% for a in product.attachments.all %}
      {% if forloop.first %}
       <div class="smallheader" style="margin-top:20px;font-size:14px;">
        {% trans "Attachments" %}
       </div>
      {% endif %}
      <a href="{{ a.file.url }}">{% if a.name %}{{ a.name }}{% else %}Документация{% endif %}</a> <br>
    {% endfor %}

    {% for d in product.details.all %}
      {% if forloop.first %}
       <div class="smallheader" style="margin-top:20px;font-size:14px;">
        {% trans "Details" %}
       </div>
       <table class="table table-condensed table-bordered">
      {% endif %}
      <tr><td>{{ d.name }}<td>{{ d.value }}</tr>
      {% if forloop.last %}
       </table>
      {% endif %}
    {% endfor %}


    </div>
    </div>
    <div class="span12" style="width:1080px;margin:20px 0 20px;">
            <center style="color:#000" class="internalheader">С этим товаром покупают</center>
    </div>
    
    
    <div class="span12" style="margin-left:0;">
	<ul class="thumbnails" style="width:1080px;margin-left:0;">
	  {% for p in might_like_products %}
	  <li class="span3 bcgwhite" style="width:250px;">
	    <div onclick="window.location.href='/product/{{p.id}}/'" href="#" class="thumbnail nopad noround cursored">
	      <img class="fullpctwidth" src="{{p.cover.get_s280x280_url}}" alt="">
	      <!--<div class="block-note block-note-green">
	      {{p.price}}{{p.currency.shortname}}
	      </div>-->
	      <div class="padbot10">
	        <div style="margin-top:10px;text-align:center;text-decoration:underline;font-size:14px;font-family:verdana;padding-top:3px;color:#333;">
	        {{ p.name }}
	        </div>
	        <div style="font-weight: bold;text-align:center;line-height:12px;font-size:16px;padding-top:10px;font-family:verdana;">
	        {% if p.price %}{{p.price}} {{p.currency.shortname}}{% else %} Цена по запросу {% endif %}
	        </div>
	        <div style="text-align:center;height:40px;">
	        <div style="margin-top:10px" class="btn btn-brand-priem">
	        Подробнее
	        </div>
	        </div>
	      </div>
	    </div>
	  </li>
	  {% endfor %}
	</ul>      
    </div>

    
    
    
<!--
    <div class="span2">
    <p class="smallheader">{% trans "You might also like" %}</p>
    {% for p in might_like_products %}
    <div class="media" style="margin-top:0px;">
    <a href="/product/{{p.id}}/">
    <img src="{{p.cover.get_s120x120_url}}" alt="">
    <p class="smallheader">{{p.name}}</p>
    </a>
    </div>
    {% endfor %}
    </div>
-->
    </div>
    <script>
    function makeproductrequest(){
    	  $('#myModal').modal('show');

    }
    </script>
  <!--End of products container-->
