{% extends "index.html" %}
{% block rotator %}
{% endblock %}
{% block breadcrumb %}
  {% include "categories_breadcrumb.html" with child_category=category %} 
{% endblock %}
{% block wrapper %}
  {% include "product_container_simple_list.html" %}
{% endblock %}
{% block additional_scripts %}
    <script>
    var hidden = 0
    $("#hider").on('click', function(){
    	if (hidden == 0){
    	  $("#hider").html('показать фильтр');
    	}
    	else{
    	  $("#hider").html('скрыть фильтр');
    	}
    	$("#filterproduct").toggle();
    	$("#filterprice").toggle();
    	hidden = 1 - hidden;
    });
    </script>
{% endblock %}


