{% load i18n %}
  <!--Products container-->
    <div class="container">
    <div class="row">
    <div class="span4">
	<img src="{{product.cover.get_s340x340_url}}" alt="">
	<center>
	<div style="margin-top:20px;" class="btn btn-brand-skype" onclick="makeproductrequest()">{% trans "Make a request" %}</div>
	</center>
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">{% trans "Request for a product" %}</h3>
	  </div>
	  <div class="modal-body">
	  <div id="request_product_name"><h4>{{product.name}}</h4></div>
	  <form class="form-horizontal" style="padding-top:10px">
	  <div class="control-group">
	  <label class="control-label" for="inputnotes">Требуемое количество</label>
	    <div class="controls">
	      <input type="text" name="inputnotes">
	    </div>
	  </div>

	  <div class="control-group">
	  <label class="control-label" for="inputnames">Ваше имя и фамилия</label>
	    <div class="controls">
	      <input type="text" name="inputnames">
	    </div>
	  </div>


	  <div class="control-group">
	  <label class="control-label" for="inputphones">Контактный телефон</label>
	    <div class="controls">
	      <input type="text" name="inputphones">
	    </div>
	  </div>

	  <div class="control-group">
	  <label class="control-label" for="inputemail">Email</label>
	    <div class="controls">
	      <input type="text" name="inputemail">
	    </div>
	  </div>

	  <div class="control-group">
	    <div class="controls">
	      <div class="btn btn-brand-skype">{% trans "Send request" %}</div>
	    </div>
	  </div>

	  </form>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
	  </div>
	</div>
    </div>
    <div class="span5">
    <h4>{{product.name}}</h4>
    <p>
    {% trans "Regular price" %}
    {{product.price}} {{product.currency.shortname}}
    </p>
    <!--
    <form class="form-inline">
    <input id="productid" type="hidden" value="{{product.id}}"></input>
    <label>{% trans "Choose quantity" %}</label>
    <select id="productquantity" style="margin-left:10px;font-size:11px;height: 18px;width:50px;">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    </select>
    </form>
    <div onclick="addproducttocart()" id="addtobagbtn" class="btn btn-brand-ebay">{% trans "Add to cart" %}</div>
    -->
    {% ifnotequal product.long_description '' %}
    <div class="smallheader" style="margin-top:20px;">
    {% trans "Product details" %}
    </div>
    <p style="font-size:11px;text-align:justify;">
    {{ product.long_description }}
    </p>
    {% endifnotequal %}
    {% for a in product.attachments.all %}
      {% if forloop.first %}
       <div class="smallheader" style="margin-top:20px;">
        {% trans "Attachments" %}
       </div>
      {% endif %}
      <a href="{{ a.file.url }}">{{ a.name }}</a>
    {% endfor %}

    {% for d in product.details.all %}
      {% if forloop.first %}
       <div class="smallheader" style="margin-top:20px;">
        {% trans "Details" %}
       </div>
       <table class="table table-condensed table-bordered">
      {% endif %}
      <tr><td>{{ d.name }}<td>{{ d.value }}</tr>
      {% if forloop.last %}
       </table>
      {% endif %}
    {% endfor %}


    </div>
    <div class="span1">
    &nbsp;
    </div>
    <div class="span2">
    <p class="smallheader">{% trans "You might also like" %}</p>
    {% for p in might_like_products %}
    <div class="media" style="margin-top:0px;">
    <a href="/product/{{p.id}}/">
    <img src="{{p.cover.get_s120x120_url}}" alt="">
    <p class="smallheader">{{p.name}}</p>
    </a>
    </div>
    {% endfor %}
    </div>
    </div>
    </div>
    <script>
    function makeproductrequest(){
    	  $('#myModal').modal('show');

    }
    </script>
  <!--End of products container-->
