<div class="container nsized" style="padding:30px 0 0;">
  <div class="row" style="margin-left:0px;margin-right:0px;padding:20px 0 20px;background:#f4f4f4">
      <div class="span6">
      <center><h5>Заявка на осмотр помещения и монтаж оборудования.</h5></center>
      <form id="sendrequestform_footer"  class="form-horizontal" style="color:#000;padding: 19px 19px 0;">
      {% csrf_token %}
      <input type="hidden" name="leadform" value="sendrequestform_footer">
      <div class="control-group">
        <label class="control-label" for="inputnames">Ваше имя и фамилия</label>
        <div class="controls">
        <input type="text" name="inputnames" placeholder="Как к Вам обратиться">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputemail">Электронная почта</label>
        <div class="controls">
        <input type="text" id="inputemail" placeholder="Email">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputphones">Контактный телефон</label>
        <div class="controls">
        <input type="text" id="inputphones" placeholder="+7...">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputcorp">Компания</label>
        <div class="controls">
        <input type="text" name="inputcorp" placeholder="">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
        <div  onclick="sendreply('#sendrequestform_footer')" class="btn btn-brand-priem">Отправить заявку</div>
        </div>
      </div>
      </form>
      </div>
      <div class="span1">
      </div>
      <div class="span5">
      <center><h5>Контактная информация</h5></center>
      <span style="font-size:14px">
      <br>
      Тел.: +7 (831) 415-16-51, 415-38-43. 
      <br> Факс: 437-33-36. 
      <br> <br> info@gsmrepiter.ru
      <br> <br> ООО "Прием" 603005, г. Нижний Новгород
      <br> ул. Алексеевская, д.20, офис 1.
      </span>
      </div>
  </div>
</div>
