<div class="container nsized" style="padding:30px 0 0;">
  <div class="row" style="margin-left:0px;margin-right:0px;padding:20px 0 20px;background:#f4f4f4">
      <div class="span6">
      <center><h5>Заявка на осмотр помещения и монтаж оборудования.</h5></center>
      <form class="form-horizontal" style="color:#000;padding: 19px 19px 0;">
      <div class="control-group">
        <label class="control-label" for="inputName">Ваше имя и фамилия</label>
        <div class="controls">
        <input type="text" id="inputName" placeholder="Как к Вам обратиться">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email для связи</label>
        <div class="controls">
        <input type="text" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPhone">Контактный телефон</label>
        <div class="controls">
        <input type="text" id="inputPhone" placeholder="+7...">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputCompany">Компания</label>
        <div class="controls">
        <input type="text" id="inputCompany" placeholder="">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
        <div class="btn btn-brand-priem">Отправить заявку</div>
        </div>
      </div>
      </form>
      </div>
      <div class="span1">
      </div>
      <div class="span5">
      <center><h5>Контактная информация</h5></center>
      <span style="font-size:14px">
      <br>
      Тел.: +7 (831) 415-16-51, 415-38-43. 
      <br> Факс: 437-33-36. 
      <br> <br> info@gsmrepiter.ru
      <br> <br> ООО "Прием" 603005, г. Нижний Новгород, ул. Алексеевская, д.20, офис 1.
      </span>
      </div>
  </div>
</div>
