    <div class="row" style="margin:20px 0 0;padding:20px 0;width:100%;background:#08c;color:#fff;margin-left: 0px;box-shadow: 0px -2px 10px rgba(0,0,0,0.5);">
    <div class="container nsized"><div class="span12 indexheader"><center>Заявка на осмотр помещения и монтаж оборудования.</center></div></div>
      <div class="container nsized" style="padding:10px 0;">
      <div class="row">
      <div class="span5">
      <p style="text-align:justify;">
      Наши специалисты произведут измерения GSM покрытия в вашем помещении и предложат вариант решения.
      <br>
      <br>
      После согласования предложенного решения, производится монтаж оборудования для обеспечения стабильного уровня GSM сигнала
      <br>
      <br>
      Компания профессионально занимается монтажом предложенного оборудования, что требует высокой квалификации и опыта.       
      <br>
      <br>
      <h4>Заявку вы также можете оставить по телефону +7(831)4151631, 4153843</h4>
      </p>
      </div>
      <div class="span1">
      </div>
      <div class="span6">
      <form class="well form-horizontal" style="color:#000">

      <div class="control-group">
        <label class="control-label" for="inputName">Ваше имя и фамилия</label>
        <div class="controls">
        <input type="text" id="inputName" placeholder="Как к Вам обратиться">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email для связи</label>
        <div class="controls">
        <input type="text" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPhone">Контактный телефон</label>
        <div class="controls">
        <input type="text" id="inputPhone" placeholder="+7...">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputCompany">Компания</label>
        <div class="controls">
        <input type="text" id="inputCompany" placeholder="">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
        <div class="btn btn-brand-ebay">Отправить заявку</div>
        </div>
      </div>
      
      </form>
      </div>
      </div>
      </div>
    </div>
