    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}bootstrap/css/buttons.css" rel="stylesheet" media="screen">
    <style>
    html, body{
     font-size:14px;font-weight:normal;color:#000;font-family:FuturaPTDemi-Reg, sans-serif;
    }
    .sbtl{
    background-image:url({{STATIC_URL}}/subtlenet/subtlenet2.png);
    }
    .navbar-inner {
      padding-left:200px;
    }
    .nsized{
    width:945px;
    margin:0 auto;
    }
    .blbck{
    	background:#fff;
        //background:url(http://500px.com/unity/img/header/background.png) repeat-x;
        -webkit-box-shadow: 0;        
        -moz-box-shadow: 0;
        box-shadow: 0;
        height:40px;    
     }
    .bcgwhite{
     background:#fff
    }
    .fullpctwidth{
    width: 100%;
    }
    .nopad{
    padding:0;
    }
    .padsizes10{
    padding:0 10px;
    }
    .padbot10{
    padding-bottom:5px;
    }
    .padbot5{
    padding-bottom:0px;
    }
    .noround{
    border-radius:0;
    border-bottom-right-radius: 0px;
    border: 1px solid #eee;
    }
    .color-green {
    	color: #2dcf79;
    	font-family: 'PTSansRegular', Arial, sans-serif;
    	font-size: 13px;
    }
    .mtopm20{
      margin-top: -20px;
    }
    .noborder{
    border:0;
    }
    .block-note{
	position:relative;
	top: -200px;
	left: -4px;
	z-index: 10;
	width: 78px;
	height: 12px;
	color: #fff;
	padding: 8px 0;
	line-height: 10px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 1px;
	font-size: 11px;
	font-family: 'PTSansNarrowBold', Arial, sans-serif;
	background-image: url({{STATIC_URL}}img/block-note-bg.png);
	background-repeat: no-repeat;
	cursor: default;
    }
    .block-note-green {
    	background-position: 0 -84px;
    }
    .btn-group>.btn:first-child, .btn-group>.btn:last-child, .btn-group>.dropdown-toggle{
     border-radius:0;
    }
    .btn-group>.btn:first-child{
     border-left:0;
    }
    .nav>li>a .navlia{
    text-decoration: underline;
    }
      #wrap {
        min-height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
        width:960px;
        margin:20px auto 0;
      }
      #footer {
        background-color: #f5f5f5;
      }
      .container .credit {
        margin: 20px 0;
        padding-left:20px;
      }
      #wrap > .container {
        padding-top: 30px;
      }
      .cursored {
       cursor:pointer;cursor:hand;
      }
      .smallheader{
      color:#000;font-size:12px;font-weight:bold;
      }
      .errored_register>li,.errored_register>ul{
      list-style-type: none; padding: 0px; margin: 0px;
      width: 290px;
      text-align: center;
      }
      .errored_register{
      	margin-top: 10px;
      }
      #cart_nitems_a{
       padding-top:10px;margin-top:0px;font-weight:bold;
      }
      #cart_nitems_a:hover{
       text-decoration:underline;cursor:pointer;cursor:hand;
      }
      
      </style>