{% load mptt_tags %}
  <!--Products container-->
  <div class="container nsized" style="padding-bottom:0px;{% if index %}padding-top:10px;{% endif %}" >
  {% if not hidecats %}
    <div class="span2" style="padding-left:0;margin-left:0;">
    		<ul class="nav nav nav-list" style="font-size:13px;">
	          {% recursetree categories %}
	            {% if node.is_leaf_node %}
	            <li>
	              <a href="/{{node.slug}}/"><b style="color:#000">{{ node.name }}</b></a>
	            </li>
	            {% else %}
	            <li>
	              <a href="/{{node.slug}}/">
	                <b style="color:#000">{{ node.name }}</b>
	              </a>
	              <ul class="nav nav nav-list">
	              {%for ch in node.get_children.all %}
	              <li><a href="/{{ch.slug}}/">{{ ch.name }}</a></li>
	              {% endfor %}
	              </ul>
	            </li>
	            {% endif %}
	          {% endrecursetree %}
	        </ul>

    </div>
    <div class="span9">
    {% else %}
    <div class="span12">
    {% endif %}
    
	<ul class="thumbnails">
	  {% for p in products %}
	  <li class="span3 bcgwhite">
	    <div onclick="window.location.href='/product/{{p.id}}/'" href="#" class="thumbnail nopad noround cursored">
	      <img class="fullpctwidth" src="{{p.cover.get_s280x280_url}}" alt="">
	      <!--<div class="block-note block-note-green">
	      {{p.price}}{{p.currency.shortname}}
	      </div>-->
	      <div class="padbot10">
	        <div style="line-height:12px;font-size:10px;font-family:verdana;padding-top:3px;color:#333;">
	        {{ p.name }}
	        </div>
	        <div style="line-height:12px;font-size:11px;padding-top:2px;font-family:verdana;">{{p.price}}{{p.currency.shortname}}
	        </div>
	      </div>
	    </div>
	  </li>
	  {% endfor %}
	</ul>      
    </div>
    </div>
  <!--End of products container-->
