{% load i18n %}
<script>
var currentlyThereNoStr = '{% trans "Currently there no" %} ';
var itemInStr = '{% trans "item in" %}';
var itemsInStr = '{% trans "items in" %}';
</script>

<script>
var addtocarturl = "{% url 'commerce.views.addtocart' %}";
var deletefromcarturl = "{% url 'commerce.views.deletefromcart' %}";
var changeelementincarturl = "{% url 'commerce.views.changeelementincart' %}";
</script>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{STATIC_URL}}utils/csrf.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
<script src="{{STATIC_URL}}apps/js/ncatalogue.js"></script>
<script src="{{STATIC_URL}}apps/js/commerce.js"></script>
