{% extends "index.html" %}
{% block rotator %}
{% endblock %}
{% block breadcrumb %}
  {% include "categories_breadcrumb.html" %} 
{% endblock %}
{% block wrapper %}
  <div class="container nsized">
  <div class="row">
    <div class="span14">
      <center style="font-size: 18px;color: #009933;margin-bottom:20px;">{{ article.title }}</center>
      <div style="text-align:justify;">{{ article.description|safe }}</div>
    </div>
    <div class="span4">
    {{ article.text|safe }}
    </div>
  </div>
  </div>
{% endblock %}