{% extends "index.html" %}
{% block rotator %}
{% endblock %}
{% block breadcrumb %}
  {% include "categories_breadcrumb.html" %} 
{% endblock %}
{% block wrapper %}
  <div class="container nsized">
  <div class="row">
    <div class="span9">
      <div style="font-size:20px;padding:0 0 20px;">{{ article.title }}</div>
      <div style="text-align:justify;">{{ article.text|safe }}</div>
      {% for p in article.gallery.sample %}
        <img style="width:100%;margin-bottom:10px" src="{{p.get_display_url}}" alt="" />
      {% endfor %}
    </div>
    <div class="span3">
      <div>Другие статьи</div>
      {% for a in sidebar %}
      <div>
        <a href="/blog/article/{{a.id}}/">{{ a.title }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
{% endblock %}