{% extends "index.html" %}
{% block carouselcss %}
      .carousel-control {
      	height: 80px;
      	margin-top: 0;
      	font-size: 120px;
      	text-shadow: 0 1px 1px rgba(0,0,0,.4);
      	background-color: transparent;
      	border: 0;
      	z-index: 10;
      	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
      
      .carousel-control:hover, .carousel-control:focus {
      	color: #ffffff;
      	text-decoration: none;
      	opacity: 0.9;
      	filter: alpha(opacity=90);
      }      

{% endblock %}
{% block rotator %}
{% endblock %}
{% block breadcrumb %}
  {% include "categories_breadcrumb.html" %} 
{% endblock %}
{% block wrapper %}
  <div class="container nsized">
  <div class="row">
    <div class="span9">
      <div style="font-size:20px;padding:0 0 20px;">{{ article.title }}</div>
      <div style="text-align:justify;">{{ article.text|safe }}</div>
      
      <div id="myCarousel" class="carousel slide">
	  <ol class="carousel-indicators">
            {% for p in article.gallery.sample %}
	    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
            {% endfor %}
	  </ol>
	  <!-- Carousel items -->
	  <div class="carousel-inner">
            {% for p in article.gallery.sample %}
	    <div class="{% if forloop.first %}active {% endif %}item">
              <img style="width:100%;margin-bottom:10px" src="{{p.get_display_url}}" alt="" />
	    </div>
            {% endfor %}
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
    </div>
    <div class="span3">
      <div>Другие статьи</div>
      {% for a in sidebar %}
      <div>
        <a href="/blog/article/{{a.id}}/">{{ a.title }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
{% endblock %}
<script>
$('.carousel').carousel({
  interval: 2000
})
</script>