{% extends "index.html" %}
{% load webdesign %}
{% block rotator %}
{% endblock %}
{% block breadcrumb %}
  {% include "categories_breadcrumb.html" %} 
{% endblock %}
{% block wrapper %}
  <div class="container nsized">
  <div class="row">
    <div class="span12" style="width:1080px;">
      <center class="internalheader">Статьи</center>
    </div>
  </div>
  <div class="row">
    <div class="span12" style="width:1080px;margin-bottom:20px;">
    </div>
  <div class="span12" style="background:url({{STATIC_URL}}gsmrepiter/upblock.jpg);height:20px;width:1080px;margin-bottom:20px">
  </div>
  <div class="span12" style="background:url({{STATIC_URL}}gsmrepiter/downblock.jpg);height:40px;width:1080px;margin-top:20px;">
  </div>
  </div>
  </div>
{% endblock %}
