{% extends "index.html" %}
{% load i18n %}
{% load webdesign %}
{% block rotator %}
{% endblock %}
{% block breadcrumb %}
  {% include "categories_breadcrumb.html" %} 
{% endblock %}
{% block wrapper %}
  <div class="container nsized">
  <div class="row">
    <div class="span12" style="width:1080px;">
      <center class="internalheader">Статьи</center>
    </div>
  </div>
  <div class="row" style="margin-left:0">
    <div class="span12" style="width:1080px;margin-bottom:20px;">
    </div>
  <div class="span12" style="background:url({{STATIC_URL}}gsmrepiter/upblock.jpg);height:20px;width:1080px;margin-bottom:20px">
  </div>
  
  <div>
    {% for t in terms %}
        {% if not t.is_servicecat %}
        <a style="margin-right:10px;font-size:14px;color:#009933;text-decoration:underline;" href="/articles/t/{{t.termslug}}/">
        {{ t.termname }}</a>
        {% endif %}
    {% endfor %}
   </div>
      {% for a in articles %}
        <div>
          <a style="font-size:20px;font-weight:bold;color:#000" href="/blog/article/{{a.id}}/">{{ a.title }}</a>
        </div>
        <div>{{ a.description|safe }}</div>
        <a href="/blog/article/{{a.id}}/">{% trans "read more" %}</a>
        <br><br>
      {% endfor %}


  
  <div class="span12" style="background:url({{STATIC_URL}}gsmrepiter/downblock.jpg);height:40px;width:1080px;margin-top:20px;">
  </div>
  </div>
  </div>
{% endblock %}
