{% extends "index.html" %}
{% block rotator %}
{% endblock %}
{% block breadcrumb %}
  {% include "categories_breadcrumb.html" %} 
{% endblock %}
{% block wrapper %}
  <div class="container nsized">
  <div class="row">
    <div class="span12" style="width:1080px;">
      <center class="internalheader">Что мы делаем</center>
      <div style="text-align:justify;padding-top:20px">{{ article.description|safe }}</div>
    </div>
  </div>
  <div class="row" style="margin-top:20px">
    <div class="span4">
     Мы предлагаем Вам разумное решение – установка локального репитера сотовой связи. Установка данного оборудования нашей компанией решит для Вас проблему с отсутствием мобильной связи максимально быстро и эффективно. Все оборудование и установка всего комплекса обойдутся не дороже установки кондиционера, но в отличие от него, работать будет круглый год, а может окупиться всего одним важным не пропущенным звонком
    </div>
    <div id="map" style="height:400px;width:1080px;" class="span12">
    </div>
  </div>
  </div>
<script src="http://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
<script src="http://yandex.st/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script>
ymaps.ready(init);
function init () {
    var myMap = new ymaps.Map("map", {
            center: [parseFloat("{{article.longitude}}".replace(",",".")), 
                    parseFloat("{{article.latitude}}".replace(",","."))],
            zoom: 14
    });
    {% for article in articles %}
    var pm = new ymaps.Placemark([parseFloat("{{article.longitude}}".replace(",",".")), 
                    parseFloat("{{article.latitude}}".replace(",","."))], {
    });
    myMap.geoObjects.add(pm);
    {% endfor %}
}
</script>
{% endblock %}
