{% extends "index.html" %}
{% load webdesign %}
{% block rotator %}
{% endblock %}
{% block breadcrumb %}
  {% include "categories_breadcrumb.html" %} 
{% endblock %}
{% block wrapper %}
  <div class="container nsized">
  <div class="row">
    <div class="span12" style="width:1080px;">
      <center class="internalheader">{{ articles_1.all.0.title }}</center>
      <!--<div style="text-align:justify;padding-top:20px">{{ article.description|safe }}</div>-->
    </div>
  </div>
  <div class="row">
    <div class="span12" style="width:1080px;margin-bottom:20px;">
    {{ articles_1.all.0.description|safe }}
    </div>
  <div class="span12" style="background:url({{STATIC_URL}}gsmrepiter/upblock.jpg);height:20px;width:1080px;margin-bottom:20px">
  </div>
    <div class="span1" style="margin-left:70px;">
    <img src="{{STATIC_URL}}gsmrepiter/sell.png">
    </div>
    <div class="span3">
    <h5>{{ articles_2.all.1.title }}</h5>
    {{ articles_2.all.1.description|safe }}
    </div>
    <div class="span1">
    <img src="{{STATIC_URL}}gsmrepiter/montage.png">
    </div>
    <div class="span3">
    <h5>{{ articles_2.all.0.title }}</h5>
    {{ articles_2.all.0.description|safe }}
    </div>
    <div class="span1">
    <img src="{{STATIC_URL}}gsmrepiter/research.png">
    </div>
    <div class="span3">
    <h5>{{ articles_2.all.2.title }}</h5>
    {{ articles_2.all.2.description|safe }}
    </div>
  <div class="span12" style="background:url({{STATIC_URL}}gsmrepiter/downblock.jpg);height:40px;width:1080px;margin-top:20px;">
  </div>
  <div class="span12" style="height:20px;width:1080px;margin-top:20px;">
        <center class="internalheader" style="color:#000;text-decoration:underline;">Выполненные объекты</center>
  </div>
    <div id="map" style="margin-top:20px;margin-bottom:20px;height:400px;width:1080px;" class="span12">
    </div>
    {% for article in articles %}
    <div class="span2" style="width: 163px;margin-bottom:20px;">
    <a href="/blog/article/{{article.id}}/">
    <img src="{{article.cover.get_s170_url}}">
    </a>
    </div>
    <div class="span2" style="width: 163px;margin-bottom:20px;">
    <img src="{{article.cover.get_s170_url}}">
    </div>
    <div class="span2" style="width: 163px;margin-bottom:20px;">
    <img src="{{article.cover.get_s170_url}}">
    </div>
    <div class="span2" style="width: 163px;margin-bottom:20px;">
    <img src="{{article.cover.get_s170_url}}">
    </div>
    <div class="span2" style="width: 163px;margin-bottom:20px;">
    <img src="{{article.cover.get_s170_url}}">
    </div>
    <div class="span2" style="width: 163px;margin-bottom:20px;">
    <img src="{{article.cover.get_s170_url}}">
    </div>
    <div class="span2" style="width: 163px;margin-bottom:20px;">
    <img src="{{article.cover.get_s170_url}}">
    </div>
    <div class="span2" style="width: 163px;margin-bottom:20px;">
    <img src="{{article.cover.get_s170_url}}">
    </div>
    <div class="span2" style="width: 163px;margin-bottom:20px;">
    <img src="{{article.cover.get_s170_url}}">
    </div>
    <div class="span2" style="width: 163px;margin-bottom:20px;">
    <img src="{{article.cover.get_s170_url}}">
    </div>
    <div class="span2" style="width: 163px;margin-bottom:20px;">
    <img src="{{article.cover.get_s170_url}}">
    </div>
    <div class="span2" style="width: 163px;margin-bottom:20px;">
    <img src="{{article.cover.get_s170_url}}">
    </div>
    {% endfor %}
  </div>
  </div>
<script src="http://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
<script src="http://yandex.st/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script>
ymaps.ready(init);
function init () {
    var myMap = new ymaps.Map("map", {
            center: [parseFloat("{{articles.all.0.latitude}}".replace(",",".")), 
                    parseFloat("{{articles.all.0.longitude}}".replace(",","."))],
            zoom: 10
    });
    {% for article in articles %}
    var pm = new ymaps.Placemark([parseFloat("{{article.latitude}}".replace(",",".")), 
                    parseFloat("{{article.longitude}}".replace(",","."))], {
    });
    myMap.geoObjects.add(pm);
    {% endfor %}
}
</script>
{% endblock %}
